body {
    background-color: #0a0a1a;
    color: #ffffff;
    font-family: Audiowide, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    color: #1e90ff;
    font-size: 3em;
    margin-bottom: 20px;
}

.menu button {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #004080;
}

#content {
    margin-top: 20px;
}

.episode-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episode-list button {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.episode-list button:hover {
    background-color: #004080;
}

.video-player {
    margin-top: 20px;
}

video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}